.childbanner{
    color: #656565;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.child1{
    position: absolute;
    width: 300px;
}
.child2{
    position: absolute;
    width: 350px;
    height: 410px;
    left: 400px;
}
.child3{
    position: absolute;
    width: 300px;
    left: 900px;
}
.child-text{
    position: absolute;
}
.partner-img{
    width: 350px;
}
.child-text{
    font-size: 22px;
}
.res-text{
    font-size: 30px;
}
.collection-h{
    color: #333;

font-size: 46px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

@media (max-width: 768px) {
    .childbanner{
        margin-top: 30px;
        
    }
    .collection-h{
        font-size: 20px;
    }
    .res-text{
        color: #656565;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 10px;
        margin-top: -35px;
    }
    .child-text{
        color: #EAEAEA;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        padding-bottom: 14px;
    padding-left: 15px;
    }
    .map-img{
        height: 1491px;
        width: 360px;
        padding-bottom: 390px;
        margin-top: -130px;
    }
    .child1{
        position: relative;
        margin: 88px;
        margin-top: -650px;
        /* margin-left: 200px; */
        margin-bottom: 10%;
        width: 184px;
        height: 115px;
        flex-shrink: 0;
        
    }
    .child1-img{
        width: 184px;
        height: 115px;
        border-radius: 8px;
    border: 1.5px solid rgba(0, 0, 0, 0.50);
    background:  lightgray 50% / cover no-repeat;
    }
    .child-must{
        position: relative;
        margin-top: -120px;
        margin-left: 0px;
        width:184px;
    }
    .child2{
        position: relative;
        margin-top: -250px;
        left: 90px;
        width: 184px;
        height: 115px;
        flex-shrink: 0;
        margin-bottom: 10%;
    }
    .partner-img{
        width: 184px;
        height: 115px;
        border-radius: 8px;
    border: 1.5px solid rgba(0, 0, 0, 0.50);
    background:  lightgray 50% / cover no-repeat;
    }
    .child-partner{
        position: relative;
        margin-top: -130px;
        left: 80px;
        width: 184px;
        height: 115px;
        border-radius: 8px;
    border: 1.5px solid rgba(0, 0, 0, 0.50);
    background:  lightgray 50% / cover no-repeat;
    }
    .child3{
        /* position: absolute;
        left: 100px;
        top: 900px; */
        position: relative;
        margin-top: -250px;
        left: 90px;
        width: 184px;
        height: 115px;
        flex-shrink: 0;
        margin-bottom: 10%;
        
    }
    .upcoming-img{
        width: 184px;
        height: 115px;
        /* margin-top: 370px;   */
        border-radius: 8px;
    border: 1.5px solid rgba(0, 0, 0, 0.50);
    background:  lightgray 50% / cover no-repeat;
    }
    .child-upcoming{
        position: relative;
        margin-top: -120px;
        left: 80px;
        width: 184px;
        height: 115px;
        margin-bottom: 10%;
    }
    .child-bottom{
        /* margin-bottom:100%; */
    }
}